.cobre{
    background-image: url("../img/fundobemvindo2.webp");
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.74);
    background-blend-mode: color;
}


.gallery-image {
    width: 9rem;
    height: 17rem;
}



#botoes_redes{
    margin-top: 7rem;
}